body {
  font-family: Arial;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: darkblue;
  color: white;
  padding: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.hero {
  padding: 50px;
  text-align: center;
  background: lightgray;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background: #f4f4f4;
  padding: 20px;
  width: 30%;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .features {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 10px;
  }